<div class="material-table">
    <h3>Search Tracks by Song name, Artist name, Genere or Album</h3>
    <mat-form-field appearance="outline">
      <mat-label>Search Tracks by Song name, Artist name, Genere or Album</mat-label>
      <input matInput [(ngModel)]="searchTerm" placeholder="Search Tracks" class="input-button-searchsong"/>
      <mat-icon class='search-icon' color="primary" matSuffix (click)="filterTracks(searchTerm); toggleShowTable()">search</mat-icon>
    </mat-form-field>
   
  </div>

  <table *ngIf="dataSource && showTable" mat-table multiTemplateDataRows [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="Track Name">
      <th mat-header-cell *matHeaderCellDef color="primary">
        Track Name
      </th>
      <td mat-cell *matCellDef="let element">{{ element.track_title }}</td>
    </ng-container>

    <ng-container matColumnDef="Artist Name">
      <th mat-header-cell *matHeaderCellDef>Artist Name</th>
      <td mat-cell *matCellDef="let element">{{ element.album_title }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="example-detail-row"
      [class.example-expanded-row]="row.isExpanded"
   (click)="row.isExpanded = !row.isExpanded"
    ></tr>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="example-element-detail"
              [@detailExpand]="element.isExpanded ? 'expanded' : 'collapsed'">
                  <span class="expanded-contents">
                      
                  </span>
                  <span class="expanded-contents">
                      {{ element.description }} 
                      <br>
                      <br> 
                      Location: {{ element.location }}
                  </span>    
          </div>
      </td>
  </ng-container>

  </table>