<div class="main-div">

    <div class="app-sidebar">
        <div class="app-logo">
            <!-- <div class="logo-container">
               <img src="././assets/logo3.png" alt="Logo">
            </div> -->
            
            <div class="logo-text-container">
                <span class="welcome-container">Welcome here.</span>
                <span class="welcome-container-name">{{loggedInUser}}! ☺︎</span>
                <span *ngIf="!loggedIn" (click)="loginHandler('login')" class="click-to-login">Click here to login</span>
            </div>
              
        </div>
        <div class="line-container">
            <mat-divider class="divider"></mat-divider>
        </div>
    
        <div class="admin-login" *ngIf="loggedIn" (click)="logoutHandler('logout')">
            Logout
        </div>
        
        <div class="app-description" (click)="homeHandler('home')">
            Explore the tracks
        </div>
    
        <div class="app-description" (click)="homeHandler('home')">
            Create playlist
        </div>
    
        <div class="admins" (click)="adminHandler('about')">
            View all playlists
        </div>
    
        <div class="about" (click)="aboutHandler('about')">
            Modify the playlists 
        </div>
    </div>

    <div class="music-tracks">


        <div class="search-bar-container">

            <form class="form">
                <!-- <mat-form-field class="dropdown-search" appearance="fill">
                    <mat-label>Search available playlists</mat-label>
                    <mat-select [(ngModel)]="selectedValue" name="food">
                      <mat-option *ngFor="let food of foods" [value]="food.value" (click)="dropdownClickHandler(food.value)">
                        {{food.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field> -->
                  
                <mat-form-field class="search-field" appearance="fill">
                    <mat-label>Search the playlists</mat-label>
        
        
                    <input matInput type="text" [(ngModel)]="searchInput" (keyup)="searchObjects($event)" aria-label="Number"
                        matInput [formControl]="myControl" 
        
                        >
                    <button matSuffix (click)="globalSearch(searchInput, $event)" mat-icon-button><mat-icon>search</mat-icon></button>    
                    <button *ngIf="searchInput" matSuffix mat-icon-button aria-label="Clear" (click)="resetSearch(searchInput, $event)">
                        <mat-icon>close</mat-icon>
                    </button>
                    <!-- <mat-autocomplete #auto="matAutocomplete" >
                        <mat-option (click)="globalSearch(option, $event, trigger)" *ngFor="let option of filteredOptions | async"
                            [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete> -->
                </mat-form-field>
            </form>
        </div>


    </div>
</div>





